.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  gap: 10px;
}

.search-form {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-button {
  margin-top: 10px;
}

.table {
  margin-top: 30px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
