<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form class="dialog-form" [formGroup]="storeroomForm">

    <mat-form-field>
      <mat-label>Lokacja</mat-label>
      <input matInput placeholder="Miejsce przechowania" formControlName="location" required>
      <mat-error *ngIf="storeroomForm.status">Proszę wpisać nazwę</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="this.data.mode">
      <mat-label>Składnik</mat-label>
      <mat-select formControlName="grocery" required>
        <mat-option *ngFor="let i of ingredientsSelection" [value]="i.grocery">
          {{ i.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="storeroomForm.status">Proszę wybrać składnik</mat-error>
    </mat-form-field>

    <div class="ingredient-name" *ngIf="!this.data.mode">
      {{ data.data.grocery.name }}
    </div>

    <mat-form-field>
      <mat-label>Ilość</mat-label>
      <input matInput formControlName="quantity" required>
      <mat-error *ngIf="storeroomForm.status">Proszę poprawnie wpisać ilość</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Termin ważności</mat-label>
      <input type="date" matInput formControlName="expirationDate" required>
      <mat-error *ngIf="storeroomForm.status">Proszę wpisać termin ważności</mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">{{ cancelButtonName }}</button>
  <button mat-raised-button color="primary" (click)="onOkClick()"> {{ okButtonName }}</button>
</div>

