<form class="search-form" [formGroup]="filterForm">
  <mat-form-field>
    <input matInput placeholder="Nazwa" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Sortowanie" formControlName="sort">
      <mat-option *ngFor="let i of sortSelection" [value]="i.value">
        {{ i.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Filtr" formControlName="filtr" multiple>
      <mat-option *ngFor="let i of tagsSelection" [value]="i.tag.idTag">
        {{ i.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" class="search-button" (click)="sortPage()">Szukaj</button>
</form>

<div *ngFor="let item of recipes">
  <mat-card class="recipe-card">
    <mat-card-content>
      <mat-card-header>
        <a class="nav-link recipe-title" [routerLink]='["/recipe-page",item.id]'>{{item.name}}</a>
      </mat-card-header>
      <mat-card-content>
        <p class="description">
          {{item.description}}
        </p>
        <div class="star-rating">
          <mat-icon class="fa fa-star" *ngFor="let t of [].constructor(item.score)">star</mat-icon>
        </div>
        <div class="bottom-elements">
          <mat-icon class="time-icon" color="primary" fontIcon="alarm icon"></mat-icon>
          <div class="time"> {{item.prepTime}} min</div>
          <div class="tags" *ngFor="let t of item.tags">
            <mat-chip-set color="primary">
              <mat-chip>{{t.name}}</mat-chip>
            </mat-chip-set> 
          </div>
        </div>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator class="paginator"
               [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="pageIndex"
               aria-label="Select page"
               (page)="handlePageEvent($event)">
</mat-paginator>
