<div class="nav-options">
  <button *ngIf="role == 0" mat-button class="nav-button" (click)="goTo('/login-page')">Logowanie</button>
  <button *ngIf="role == 0" mat-button class="nav-button" (click)="goTo('/register-page')">Rejestracja</button>
  <button *ngIf="(role == 1) || (role == 2)" mat-button class="nav-button" (click)="goTo('/profile-page')">Profil</button>
  <button *ngIf="role == 1" mat-button class="nav-button" (click)="goTo('/admin-page')">Admin</button>
  <button *ngIf="(role == 1) || (role == 2)" mat-button class="nav-button" (click)="logout(); goTo('/');">Wyloguj</button>
</div>
