.page-content {
  display: flex;
  flex-direction:column;
  margin-left: 30px;
  margin-bottom: 30px;
}

.icon-white {
  color: white;
}

.icon-red {
  color: red;
}

.button-recipe-list {
  width: 150px;
}

.tags {
  font-family: Lato;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.user-date {
  font-size: 13px;
  font-family: Lato;
}

.title {
  font-family: "Lato Heavy";
}

.description {
  font-family: Lato;
  max-width: 90vw;
  font-size: 20px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.8;
}

.instruction {
  font-family: Lato;
  max-width: 90vw;
  font-size: 20px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.4;
}

.ingredients-title {
  font-family: "Lato Heavy";
  font-size: 20px;
}

.ingredients {
  font-family: Lato;
}

.button-add-rating {
  width: 150px;
}

.ratings {
  font-family: "Lato Heavy";
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

.raiting-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 30px;
}

.comment-author {
  font-family: "Lato Heavy";
}

.comment {
  font-family: Lato;
}

.form-score {
  width: 100px;
}

.rating-card {
  margin-top: 30px;
  margin-left: 30px;
  width: 600px;
}

.stars {
  color: #ffc107;
}

.star-rating {
  font-size: 13px;
}
