<div class="page-content">
  <h1 class="title">
    {{ recipeData.name }}

    <button *ngIf="role != 0" mat-mini-fab class="button-favorite" color="primary" (click)="makeFavorite(idRecipe)">
      <mat-icon [class]="iconClass">favorite</mat-icon>
    </button>
  </h1>
  <div class="tags">
    <mat-chip-set color="primary" *ngFor="let t of recipeData.tags">
      <mat-chip>{{t.name}}</mat-chip>
    </mat-chip-set>
  </div>
  <p class="user-date">
    Autor: {{ recipeData.creatorName }}
    Utworzone: {{ recipeData.createDate }}
    Edytowane:  {{ recipeData.editDate }}
  </p>

  <p class="star-rating" *ngIf="recipeData.finalScore != 0">
    <mat-icon class="stars" *ngFor="let t of [].constructor(recipeData.finalScore)">star</mat-icon>
  </p>

  <p class="description">
    {{ recipeData.description }}
  </p>

  <p class="instruction">
    {{ recipeData.instruction }}
  </p>
  <div class="ingredients-title">Lista składników:</div>
  <ul *ngFor="let i of recipeData.ingredients">
    <li>
      <div class="ingredients">
        {{ i.name }}: {{ i.quantity }} {{ i.unit }}
      </div>
    </li>
  </ul>

  <button *ngIf="role != 0" mat-raised-button class="button-recipe-list" color="primary" (click)="checkOnwedIngredients()">Sprawdź magazyn</button>

</div>

<p *ngIf="role != 0" class="ratings">
  Dodaj nowy komentarz:
</p>

<form *ngIf="role != 0" [formGroup]="ratingForm" class="raiting-form">
  <mat-form-field class="form-score">
    <mat-label>Ocena</mat-label>
    <mat-select formControlName="score" required>
      <mat-option *ngFor="let i of rating" [value]="i.value">
        {{ i.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="ratingForm.status">Proszę wybrać ocenę</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Komentarz</mat-label>
    <textarea matInput #input placeholder="Komentarz" formControlName="comment" required maxlength="200"></textarea>
    <mat-error *ngIf="ratingForm.status">Proszę wpisać komentarz</mat-error>
    <mat-hint align="end">{{input.value.length}}/200</mat-hint>
  </mat-form-field>

  <button mat-raised-button class="button-add-rating" color="primary" (click)="addComment()">Dodaj komentarz</button>
</form>

<p class="ratings">
  Komentarze:
</p>

<div *ngFor="let item of recipeData.ratings">
  <mat-card class="rating-card">
    <mat-card-content>
      <mat-card-header>
        <mat-icon class="stars" *ngFor="let t of [].constructor(item.score)">star</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p class="comment-author">
          Autor: {{ item.userName }}
        </p>
        <p class="comment">
          {{item.comment}}
        </p>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
