<div class="buttons">
  <button mat-raised-button color="primary" (click)="addGrocery()">Dodaj produkt</button>
  <button mat-raised-button color="primary" (click)="refreshStoreroom()">Odśwież magazyn</button>
  <button mat-raised-button color="primary" (click)="whatYouCanCook()">Co możesz ugotować?</button>
</div>


<mat-accordion>
  <div class="store-room" *ngIf="this.storeroomData != undefined">
    <mat-expansion-panel *ngFor="let l of storeroomData.locations">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="icon">folder</mat-icon>
          <div class="store-room-name">
            {{ l }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-grid-list cols="4" rowHeight="9:1">
        <div *ngFor="let o of storeroomData.ownedGroceries">
          <div *ngIf="o.location == l" class="store-room-container">
            <mat-grid-tile>
              {{ o.grocery.name }}
            </mat-grid-tile>
            <mat-grid-tile>
              {{ o.expirationDate }}
            </mat-grid-tile>
            <mat-grid-tile>
              {{ o.quantity }} {{ o.grocery.unit }}
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-button (click)="editStoreroomItem(o)">
                <mat-icon>border_color</mat-icon>
              </button>
              <button mat-button (click)="deleteStoreroomItem(o.idOwnedFoodItem)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
    </mat-expansion-panel>
   </div>
</mat-accordion>
