<div class="buttons">
  <button mat-raised-button color="primary" (click)="addGrocery()">Dodaj produkt</button>
  <button mat-raised-button color="primary" (click)="refreshStoreroom()">Odśwież magazyn</button>
  <button mat-raised-button color="primary" (click)="whatYouCanCook()">Co możesz ugotować?</button>
</div>


<mat-accordion>
  <div class="store-room" *ngIf="this.storeroomData != undefined">
    <mat-expansion-panel *ngFor="let l of storeroomData.locations">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ l }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let o of storeroomData.ownedGroceries">
        <div *ngIf="o.location == l" style="display: flex; flex-direction: row; justify-content: space-between;">
          <div>
            {{ o.groceriesIdFoodItemNavigation.name }}
          </div>
          <div>
            {{ o.quanity }} {{ o.groceriesIdFoodItemNavigation.unit }}
          </div>
          <div>
            <button mat-button (click)="editStoreroomItem(o)">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-button (click)="deleteStoreroomItem(o.idOwnedFoodItem)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
   </div>
</mat-accordion>
