<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form class="dialog-form" [formGroup]="groceryForm">

    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput [placeholder]="data.grocery.name" formControlName="name" required>
      <mat-error *ngIf="groceryForm.status">Proszę wpisać nazwę</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Miara</mat-label>
      <input matInput [placeholder]="data.grocery.unit" formControlName="unit" required>
      <mat-error *ngIf="groceryForm.status">Proszę wpisać nazwę</mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">{{ cancelButtonName }}</button>
  <button mat-raised-button color="primary" (click)="onOkClick()"> {{ okButtonName }}</button>
</div>

