<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form class="dialog-form" [formGroup]="tagForm">
    <mat-form-field>
      <mat-label>Składnik</mat-label>
      <mat-select formControlName="tag" required>
        <mat-option *ngFor="let i of tagsSelection" [value]="i.tag">
          {{ i.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tagForm.status">Proszę wybrać tag</mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">{{ cancelButtonName }}</button>
  <button mat-raised-button color="primary" (click)="onOkClick()"> {{ okButtonName }}</button>
</div>


