<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="register-form">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input id="login" type="text" matInput formControlName="login">
      <mat-error *ngIf="registerForm.status">Proszę wpisać login</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input id="password" type="password" matInput formControlName="password">
      <mat-error *ngIf="registerForm.status">Proszę wpisać hasło</mat-error>
    </mat-form-field>
  </div>
  <button color="primary" class="register-button" mat-raised-button type="submit">Zarejestruj się</button>
</form>
<p class="register-error"> {{ error }} </p>
